/* Removing Icons from the Nav-bar */
.container
{
  max-width: 90vw;
}

#nav .container .nav-menu .nav-icons
{
  display: none;
}

#nav .nav-container
{
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;

}
#nav .container .nav-menu .nav-menu-item ul
{
  grid-gap: 1rem; 
}
#nav .container .nav-menu .nav-menu-item ul .first
{
  margin-left: 2rem;
}

/* Getting Rid of the Extra part of overlay */
#show-case
{
  height: 50vh;
}

#show-case .container .show-case-p
{
  width: 100%;
}

/* Stacking the Articles One After Another */
#timeline .container > h1
{
  text-align: center;
}

#timeline .container .timeline-container
{
  display: flex;
  flex-direction: column;
}
#timeline .container .timeline-container .card
{
  margin: 1rem;
}

#timeline .container .timeline-container > *:first-child,
#timeline .container .timeline-container > *:last-child
{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}


/* About */
.about-info-container
{
  grid-template-columns: 1fr;
}

/* News */
#news .news-container
{
  grid-template-columns: 1fr;
}
#news .news-container .date-genre
{
  font-size: 0.75rem;
}

/* Footer */
#footer .footer-content .info
{
  grid-template-columns: 1fr;
}